services:
  # ----- NGINX (reverse proxy com SSL) -----
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - n8n
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    networks:
      - proxy

  # ----- Certbot (Let's Encrypt + DuckDNS) -----
  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: unless-stopped
    entrypoint: /bin/sh -c
    command: >
      "trap exit TERM; while :; do
        certbot renew --webroot -w /var/www/certbot --quiet;
        sleep 12h & wait $${!};
      done;"
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    networks:
      - proxy

  # ----- DuckDNS -----
  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    restart: unless-stopped
    environment:
      - TZ=America/Sao_Paulo
      - SUBDOMAINS=natandev
      - TOKEN=7a709c7e-ca23-4c82-a6cb-f8401cf8fc1f
      - LOG_FILE=true
    networks:
      - proxy

  # ----- N8N -----
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
      - N8N_HOST=natandev.duckdns.org
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=https://natandev.duckdns.org/
      - DB_SQLITE_POOL_SIZE=1
      - N8N_RUNNERS_ENABLED=true
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false

    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - proxy

  # ----- Postgres -----
  postgres:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: n8n_user
      POSTGRES_PASSWORD: n8n_pass
      POSTGRES_DB: n8n_db
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - lab_evolution

  # ----- Redis -----
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6380:6379"
    networks:
      - lab_evolution
      - proxy

volumes:
  n8n_data:
  pg_data:

networks:
  proxy:
    driver: bridge
  lab_evolution:
    driver: bridge
